<launch>
    <param name="broker_address"    value="10.14.7.175" />
    <param name="broker_port"       value="1883" />
    <param name="username"          value="mascot" />
    <param name="password"          value="demo" />

    <param name="topic_mqtt_sub"        value="robot/list_data" />
    <param name="topic_mqtt_cal"        value="robot/cal" />
    <param name="topic_mqtt_pose"        value="robot/pose" />
    <param name="topic_mqtt_path"        value="robot/path" />    

    <node name="run_service" pkg="ros_mqtt" type="service_path_server.py" output="screen">
    </node>
    <node name="point_path" pkg="ros_mqtt" type="points_make_path.py" output="screen">
    </node>
    <node name="robot_pose" pkg="ros_mqtt" type="robot_pose.py" output="screen">
    </node>
    <node name="calc" pkg="ros_mqtt" type="cal_distance.py" output="screen">
    </node>   
    <node name="mqtt_subscriber_node" pkg="ros_mqtt" type="mqtt_to_ros.py" output="screen">
    </node>   
    <node name="mqtt_subscrnode" pkg="ros_mqtt" type="send_goal.py" output="screen">
    </node>

</launch>
